@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #323437;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.extra {
  color: red;
  opacity: 0.5;
}